.rating-table-inner--title a {
    color: #515151 !important;
    text-decoration: none !important;
}

.rating-table-item-content .wp-block-button__link {
    padding: 5px 10px !important;
}

.is-rating-table-main-btn > .wp-block-button__link:not(:hover) {
    color: #2196f3;
}

.rating-table-item-content .rating-table--excerpt {
    line-height: 1;
}


.rating-table-item {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.rating-table-item .wp-block-buttons {
    margin-top: 0.5rem;
}
.rating-table-item svg {
    color: red;
}

.rating-table-item .rating-table-item-content {
    flex-basis: 75%;

}
.rating-table-item .rating-table-item-image {
    flex-basis: 20%;
}

.rating-table-item .wp-element-button {
    padding: 0.5rem 0.8rem;

}

.rating-table-item .mod-review .wp-element-button {
    background-color: white;
    color: gray;

}