.pac-wrapper {
    ul {
        margin: 0rem;
    }
    .pac-list {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #dfdfdf;
        margin-top: 0.5rem;

        strong {
            flex-basis: 30%;
        }
        ul {
            flex-basis: 65%;
        }
    }

    article strong {
        color: gray;
        
    }
}